body {
    font-family: sans-serif;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  input[type="submit"],
  button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  input[type="submit"]:hover,
  button:hover {
    background-color: #3e8e41;
  }
  
  button {
    background-color: #4286f4;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  